@import url('https://fonts.googleapis.com/css2?family=Rubik+Dirt&display=swap');

body {
  background-color: rgb(243, 93, 73);
  text-align: center;
  color: rgb(223, 151, 83);
}

#myCanvas {
  background-image: url("https://media.istockphoto.com/id/1148994364/vector/fiery-desert-sunset.jpg?s=612x612&w=0&k=20&c=hPi__rB1x66cEkKULEFojBbyLf1FZO6LjK6bAQifgq4=");
  background-size: 600px 400px;
  border-radius: 10px;
  background-position: center;
  border: 4px solid rgb(224, 244, 247);;
}

h1{
  font-family: "Rubik Dirt", system-ui;
  font-weight: 400;
  font-size: 50px;
  font-style: normal;
}

